@import "../index.scss";

.form {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    max-width: 22em;
    .email,
    .error-message {
        color: $dark-gray;
        font-size: 0.8em;
        font-weight: 500;
    }
    .input,
    .error {
        position: relative;
        font-family: "Roboto";
        padding: 1em 1.5em;
        border: 1px solid $gray;
        border-radius: 0.5em;
        outline: none;
        &:focus {
            border: 1px solid $dark-gray;
            background-color: $white;
            color: black;
        }
    }
    .error {
        border: 1px solid $tomato;
        background-color: #ffeaef;
        color: $tomato;
    }
    .wrap {
        margin-top: 2em;
        padding-bottom: 0.6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .error-message {
        color: red;
    }
    .button {
        margin-top: 1.5em;
        border: none;
        padding: 1em 1.5em;
        border-radius: 0.5em;
        background-color: $dark-gray;
        color: $white;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            background: linear-gradient(120deg, #ff6a3a, #ff527b);
            box-shadow: 0 2px 15px #ff527b;
        }
    }
}

@media screen and (max-width: 20em) {
    .form {
        padding-left: 2em;
        .email,
        .error-message {
            font-size: 0.6em;
        }
        .input,
        .error {
            width: 90%;
            padding: 1em 1em;
        }

        .wrap {
            margin-top: 0.6em;
            padding-bottom: 0.6em;
            width: 90%;
        }
        .button {
            margin-top: 1em;
            width: 90%;
            padding: 1em 1em;
            margin-bottom: 2em;
        }
    }
}
